/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}

/* ===== Colours ===== */
:root{
    --body-color: #2c3440;
    --nav-color: #14181c;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

nav{
    position: relative;
    margin: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding-right: 30px;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 15px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.userprofile:hover{
    cursor: pointer;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .userprofile{
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 20px;
    float: right;
    position: relative;
}

nav .searchBox {
    padding-left: 10px;
    position: relative;
}

.search-field {
    position: relative;
    margin: 10px; /* Add margin for spacing */
}

.search-field input {
    height: 100%;
    width: 100%;
    padding: 10px; /* Add padding for better visibility */
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--nav-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    padding: 10px 20px;
    color: var(--text-color);
    text-decoration: none;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-item:hover {
    background-color: #2c3440;
}

.dropdown-item:last-child {
    border-bottom: none;
}
