@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
}

/* ===== Colours ===== */
:root {
    --body-color: #2c3440;
    --nav-color: #14181c;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body {
    height: 100vh;
    background-color: var(--body-color);
}

nav {
    position: relative;
    height: 4.375rem;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 62.5rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

nav .nav-bar .logo a {
    font-size: 1.5625rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding-right: 1.875rem;
}

.menu{
    margin-left: 1rem;
    margin-right: 1rem;
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: inline-flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 0.3125rem;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.9375rem;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 0.375rem;
    width: 0.375rem;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.userprofile:hover {
    cursor: pointer;
}

.nav-links li:hover a::before {
    opacity: 1;
}

.nav-bar .userprofile {
    margin-top: 0.25rem;
    left: 0.25rem;
    margin-left: 5%;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    background-color: #1c1c23;
    border: 1px solid #b8b5b5;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    padding: 0.625rem 1.25rem;
    color: var(--text-color);
    text-decoration: none;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

.dropdown-item:hover {
    background-color: #2c3440;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.logged-in {
    display: flex;
}

.username {
    padding-top: 0.3125rem;
    color: white;
    padding-left: 0.4rem;
}
.login-text a{
    color: white;
}
.logButton {
    border-radius: 0.5rem;
    border: none;
    margin-left: 3%;
}

.log-button {
    width: 7.5rem;
    background-color: #303a42;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid;
}

.log-button:hover {
    cursor: pointer;
}
